<div class="event">
    <div id="header">
        <div id="name">
            <div id="image">
                <img (click)='toggleEventEditForm()' src="assets/img/edit.png" alt="Modifier l'évènement">
                <img (click)='removeEvent(event.id)' alt="Supprimer l'évènement" src="assets/img/remove.png">
            </div>
            <h1>{{event.label}}</h1> 
            <p>De {{event.startDate}} à {{event.endDate}}</p>
        </div>
    </div>
</div>

<app-form-edit-event *ngIf="isEditOpen" (update)="updateEvent()" (closeForm)="toggleEventEditForm()" [event]="event"></app-form-edit-event>